<!DOCTYPE html>
<html>
  <head>
    <title>tvcmd: command line tool to keep track of tv shows and episodes</title>
    
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Juan Diego Tascon" />
    <meta name="description" content="tvcmd is a command line interface (CLI) to keep track of tv shows and episodes. It has the functionality of myepisodes.com followmy.tv or mytvshows.org but for the command line, allowing greater flexibility like automatic torrent urls." />
    <meta name="keywords" content="cli, command line, linux, tv, shows, episodes, series, track, thetvdb.com" />
    
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  
  <body>
    <header>
      <div class="inner">
        <h1><img src="img/tvcmd.png" alt="tvcmd" style="float:left" /></h1>
        <h1>&nbsptvcmd</h1>
        <h2>command line tool to keep track of tv shows and episodes</h2>
        <a href="https://github.com/juantascon/tvcmd" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>
    
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        
        {{ content }}
        
        </section>
        
        <aside id="sidebar">
          <a href="https://github.com/juantascon/tvcmd/releases" class="button">
            Download
            <small>Stable releases</small>
          </a>
          
          <p class="repo-owner">
            <a href="https://github.com/juantascon/tvcmd">tvcmd</a>
            is maintained by
            <a href="https://github.com/juantascon">juantascon</a>
          </p>
          
          <p class="site">
            hosted by <a href="https://pages.github.com">GitHub Pages</a> <br/>
            theme by <a href="https://twitter.com/jasonlong">Jason Long</a>
          </p>
        </aside>
      </div>
    </div>
    
  </body>
</html>
